.container {
  max-width: var(--md-breakpoint);
  margin: 0 auto;
  padding-left: var(--400-spacing);
  padding-right: var(--400-spacing);
}

.container--xl {
  max-width: var(--xl-breakpoint);
}

.grid-auto {
  display: grid;
  grid-column-gap: var(--400-spacing);
  grid-row-gap: var(--400-spacing);
  grid-template-columns: repeat(auto-fit, minmax(288px, 1fr));
}

.grid-auto--500 {
  grid-column-gap: var(--500-spacing);
  grid-row-gap: var(--500-spacing);
}

.h3 {
  font-size: var(--700-font-size);
  font-weight: 700;
}

.h6 {
  font-size: var(--500-font-size);
  font-weight: 700;
}

.tab__tabs {
  display: flex;
  position: relative;
  gap: var(--300-spacing);
  flex-wrap: wrap;
  padding-top: var(--300-spacing);
  padding-bottom: var(--300-spacing);
}

.tab_tabs-item {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-weight: 600;
}

.tab__tabs-bar {
  position: absolute;
  height: 3px;
  bottom: 0;
  left: 0;
  width: 125px;
  background-color: var(--primary-main-color);
}

.tab__panel {
  padding-top: var(--600-spacing);
}

.card {
  border: var(--border-color) 1px solid;
  border-radius: var(--border-radius);
}

.card__media {
  border-start-end-radius: var(--border-radius);
  border-start-start-radius: var(--border-radius);
}

.card__content {
  padding: var(--500-spacing);
}

.card__actions {
  display: flex;
  flex-wrap: wrap;
  gap: var(--300-spacing);
  padding-top: var(--400-spacing);
}

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.pb--300 {
  padding-bottom: var(--300-spacing);
}

.pt--600 {
  padding-top: var(--600-spacing);
}
