:root {
  --font-family-base: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";

  --dark-color: #1a1922;
  --light-color: #f5f4f0;
  --primary-main-color: #c62828;
  --primary-text-color: var(--light-color);
  --default-light-color: #949494;
  --default-main-color: #666666;
  --default-dark-color: #3c3c3c;
  --info-light-color: #6a9ada;
  --info-main-color: #346ca8;
  --info-dark-color: #004279;
  --border-color: #343a40;

  --md-breakpoint: 768px;
  --xl-breakpoint: 1200px;

  --300-spacing: 0.5rem;
  --400-spacing: 1rem;
  --500-spacing: 1.5rem;
  --600-spacing: 2rem;

  --400-font-size: 1rem;
  --500-font-size: 1.125rem;
  --700-font-size: 2.125rem;

  --border-radius: 0.25rem;

  --transition-base: 0.3s ease;
}
