.h3 {
  font-size: var(--700-font-size);
  font-weight: 700;
}

.h6 {
  font-size: var(--500-font-size);
  font-weight: 700;
}

.tab__tabs {
  display: flex;
  position: relative;
  gap: var(--300-spacing);
  flex-wrap: wrap;
  padding-top: var(--300-spacing);
  padding-bottom: var(--300-spacing);
  margin-bottom: var(--600-spacing);
}

.tab_tabs-item {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-weight: 600;
}

.tab__tabs-bar {
  position: absolute;
  height: 3px;
  bottom: 0;
  left: 0;
  width: 125px;
  background-color: var(--primary-main-color);
}

.card {
  border: var(--border-color) 1px solid;
  border-radius: var(--border-radius);
}

.card__media {
  border-start-end-radius: var(--border-radius);
  border-start-start-radius: var(--border-radius);
}

.card__content {
  padding: var(--500-spacing);
}

.card__actions {
  display: flex;
  flex-wrap: wrap;
  gap: var(--400-spacing);
  padding-top: var(--500-spacing);
}

.button {
  background-color: var(--default-main-color);
  border-radius: var(--border-radius);
  background-color: var(--default-main-color);
  color: var(--primary-text-color);
  padding: var(--300-spacing) var(--400-spacing);
  text-decoration: none;
  transition: background-color var(--transition-base);
}

.button--outlined {
  background-color: transparent;
  border: 1px var(--default-main-color) solid;
}

.button--outlined:hover {
  background-color: var(--default-light-color);
}

.button--outlined:active {
  background-color: var(--default-dark-color);
}

.button--info {
  background-color: var(--info-main-color);
}

.button--info:hover {
  background-color: var(--info-light-color);
}

.button--info:active {
  background-color: var(--info-dark-color);
}
