.container {
  max-width: var(--md-breakpoint);
  margin: 0 auto;
  padding-left: var(--400-spacing);
  padding-right: var(--400-spacing);
}

.container--xl {
  max-width: var(--xl-breakpoint);
}

.grid-auto {
  display: grid;
  grid-column-gap: var(--400-spacing);
  grid-row-gap: var(--400-spacing);
  grid-template-columns: repeat(auto-fit, minmax(288px, 1fr));
}

.grid-auto--500 {
  grid-column-gap: var(--500-spacing);
  grid-row-gap: var(--500-spacing);
}
