.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.pb--300 {
  padding-bottom: var(--space-300);
}

.pt--600 {
  padding-top: var(--space-600);
}

.pb--700 {
  padding-bottom: var(--space-700);
}
